$bg               : '../img/bg-small-2-blur.jpg' !default;

$colorPrimary     : #B28973 !default;
$colorSecondary   : #27ae60 !default;
$colorError       : #c0392b !default;

$avaSize          : 70px !default;
$avaPadding       : 5px !default;
$borderRadius     : 4px !default;;