@import url(http://fonts.googleapis.com/css?family=Ubuntu);
html {
	height:100%;
	background:#f26b5b no-repeat;
	background-image: -webkit-linear-gradient(#e8955a, #f26b5b); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(#e8955a, #f26b5b); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(#e8955a, #f26b5b); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(#e8955a, #f26b5b); /* Standard syntax */
}

body{background:none;font-family: 'Ubuntu', sans-serif; font-size:1.5em; color:#ffffff;}

/* General */
.center-align{margin:0 auto; text-align:center;}
.margin-top{margin-top: 10px;}

/* Buttons */
.btn{border:none; border-radius:0px; color:#fff;}
.btn-primary{background-color:#6476a8;}
.btn-primary:hover, .btn-primary:active{background: rgba(100, 118, 168, .75); color: #fff;}

/* Forms */
form button{width: 100%;}
.form-control{background: none repeat scroll 0 0 #f1a283;border: none; border-radius: 0; box-shadow: none; color: #ffffff; display: inline-block; margin: 0; outline: medium none; padding: 10px; width: 100%; height:40px;}
.form-control::-webkit-input-placeholder {color: #ffffff;}
 /* Firefox 18- */
.form-control:-moz-placeholder {color: #ffffff;}
/* Firefox 19+ */
.form-control::-moz-placeholder {color: #ffffff;}
.form-control:-ms-input-placeholder {color: #ffffff;}
.form-control:focus{border-color:#ffffff; box-shadow:none;}
.input-group-addon{background-color: #f1a283; border:none; border-radius:0; color:#fff;}
#response{margin-bottom:10px;}

/* Heading */
.page-heading{margin-top:5%; margin-bottom:5%;}

/* Containers */
.round-container{height:100px; width:100px; background-color:#f1a283; border: thin solid #f1a283; border-radius:100px; padding:26px; margin-top: 5%}
.round-container img{height: 46px;}

/* Profiles */
.navbar{background-color:#e8945a; padding:10px;}
.profiles .avatar{border: thin solid #e8945a; border-radius:100px; padding:10px;}
.navbar img{height:50px;}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
	-moz-border-radius:50%; /* Firefox */
	-webkit-border-radius:50%; /* Safari and chrome */
	-khtml-border-radius:50%; /* Linux browsers */
	border-radius:50%; /* CSS3 */
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
	-moz-border-radius:50%; /* Firefox */
	-webkit-border-radius:50%; /* Safari and chrome */
	-khtml-border-radius:50%; /* Linux browsers */
	border-radius:50%; /* CSS3 */
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
	-moz-border-radius:50%; /* Firefox */
	-webkit-border-radius:50%; /* Safari and chrome */
	-khtml-border-radius:50%; /* Linux browsers */
	border-radius:50%; /* CSS3 */
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.display_none{display: none;}
.display_block{display: block;}

a, a:hover, a:focus, a:visited{color: #ffffff;}
.modal-dialog{color:#000000;}
#forgot_password_modal .input-group .form-control, #register_modal .input-group .form-control{width:97%;}
#forgot_password_modal .input-group, #register_modal .form-group{margin-left:3%;}
.btn.btn-default{background-color: #ffffff; border-color: #cccccc; color: #333333; width:100%; text-align:center;}